<h2 class="screen-align">Hari</h2>
<form id="template-i2tj" class="form gp-form-control">
    <div id="template-i6iu" class="form-group">
        <label id="template-iev4" class="label">Name</label>
        <input placeholder="Type here your name" id="template-i0u6"
        [(ngModel)]="hari.name" [ngModelOptions]="{standalone: true}" class="input gp-input-text"
        />
    </div>
    <div id="template-iqiz5" class="form-group">
        <button type="submit" id="template-imdli" (click)="GpCreate()" class="button">Send</button>
    </div>
</form>